ul.pager
  li.previous
    a(href="#")
        i.fui-arrow-left
  li.pages
    div
      span.totalPages #{pages}
      span
        em of 
      input.form-control.flat(value="1")
  li.next
    a(href="#")
      i.fui-arrow-right
