.col-md-12

  span
    strong.query-label #{label}
    em.query-value #{value}

  span#filter-button.glyphicon.glyphicon-filter(data-delay={show: 1000, hide: 0} , data-animation="true", data-toggle="tooltip", title="Show Filters")

  span.filter-actions
    .switch#filter-switch
      input(type="checkbox", checked, data-toggle="switch")