extends layout

block content
  form(action="", method="POST")
    script(src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button", data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh", data-amount="2000", data-name="Tots for Tots", data-description="2 widgets ($20.00)", data-image="/images/stock-school.png") 