
.row
  .col-md-2.filter-item
    span.filter-label Poverty: 
      span.label-value.value-min 0
      span.theto to
      span.label-value.value-max 100
    .slider-stat.ui-slider

  .col-md-2.filter-item
    span.filter-label Poverty: 
      span.label-value.value-min 0
      span.theto to
      span.label-value.value-max 100
    .slider-stat.ui-slider

  .col-md-2.filter-item
    span.filter-label Poverty: 
      span.label-value.value-min 0
      span.theto to
      span.label-value.value-max 100
    .slider-stat.ui-slider

  .col-md-2.filter-item
    span.filter-label Poverty: 
      span.label-value.value-min 0
      span.theto to
      span.label-value.value-max 100
    .slider-stat.ui-slider

  .col-md-2.filter-item
    span.filter-label Poverty: 
      span.label-value.value-min 0
      span.theto to
      span.label-value.value-max 100
    .slider-stat.ui-slider

  .col-md-2.filter-item
    span.filter-label Poverty: 
      span.label-value.value-min 0
      span.theto to
      span.label-value.value-max 100
    .slider-stat.ui-slider