
.row
  .col-md-2.filter-item(data-statname = "grades" ,data-step-value="1")
    span.filter-label Grade Level: 
      input.input-sm.form-control.flat.label-value.value-min 0
      span.theto to
      input.input-sm.form-control.flat.label-value.value-max 100
    .slider-stat.ui-slider

  .col-md-2.filter-item(data-statname = "diversity" ,data-step-value="1")
    span.filter-label Diversity: 
      input.input-sm.form-control.flat.label-value.value-min 0
      span.theto to
      input.input-sm.form-control.flat.label-value.value-max 100
    .slider-stat.ui-slider

  .col-md-2.filter-item(data-statname = "capitaIncome" ,data-step-value="5000")
    span.filter-label Income: 
      input.input-sm.form-control.flat.label-value.value-min 0
      span.theto to
      input.input-sm.form-control.flat.label-value.value-max 100
    .slider-stat.ui-slider

  .col-md-2.filter-item(data-statname = "poverty" ,data-step-value="1")
    span.filter-label Poverty:
      input.input-sm.form-control.flat.label-value.value-min 0
      span.theto to
      input.input-sm.form-control.flat.label-value.value-max 100
    .slider-stat.ui-slider

  .col-md-2.filter-item(data-statname = "snapPercent" ,data-step-value="1")
    span.filter-label Food Aid: 
      input.input-sm.form-control.flat.label-value.value-min 0
      span.theto to
      input.input-sm.form-control.flat.label-value.value-max 100
    .slider-stat.ui-slider

  .col-md-2.filter-item(data-statname = "unemployed" ,data-step-value="1")
    span.filter-label Unemployment: 
      input.input-sm.form-control.flat.label-value.value-min 0
      span.theto to
      input.input-sm.form-control.flat.label-value.value-max 100
    .slider-stat.ui-slider