doctype html
html
  head
    title= title
    link(rel="stylesheet", type="text/css", href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.min.css")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
    link(href="/stylesheets/flat-ui.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/main.css')

  body
    .navbar.navbar-default.navbar-fixed-top(role="navigation")
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", datatarget="#navbar-collapse-main")
            span.sr-only Toggle Nav
          a.navbar-brand(href="#")
            | tots
            span.forelem.vcenter for
            | tots
        .collapse.navbar-collapse#navbar-collapse-main
          ul.nav.nav-pills.nav-justified
            li: a(href="/") home
            li: a(href="/find") find a school
            li: a(href="/about") about
            li: a.btn.btn-danger(href="auth/google")
              i.fa.fa-google-plus
              | Sign In

    #body-content
        block content

    #footer.navbar-static-bottom
      .container
        .footer-divider
        .footer-content
          .row
            .col-md-2
              &nbsp;
            #contact-form.col-md-8
              form.form-inline(action="/contactForm/submit", role="form")
                .row.form-top
                  .form-group.col-md-3
                    label.sr-only(for="emailName")
                    input.form-control#emailName(type="text", name="name", placeholder="Your Name")
                  
                  .form-group.col-md-3
                    label.sr-only(for="emailFrom")
                    input.form-control#emailFrom(type="text", name="from", placeholder="Your E-Mail")

                  .form-group.col-md-3
                    label.sr-only(for="emailSubject") 
                    input.form-control#emailSubject(type="text", name="subject", placeholder="Subject")

                .row.form-bottom
                  .form-group.col-md-9
                    label.sr-only(for="emailText")
                    textarea.form-control#emailText(type="text", name="text", placeholder="What do you want to tell us?")
                  
                  .form-group.col-md-2
                    input.btn.btn-success.btn-lg(type="submit")




    script(src="/javascripts/jquery-2.0.3.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
    script(src="/javascripts/jquery-ui-1.10.3.custom.min.js")
    script(src="/javascripts/jquery.ui.touch-punch.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/bootstrap-select.js")
    script(src="/javascripts/bootstrap-switch.js")
    script(src="/javascripts/flatui-checkbox.js")
    //- script(src="/javascripts/flatui-radio.js")
    //- script(src="/javascripts/jquery.tagsinput.js")
    script(src="/javascripts/jquery.placeholder.js")
    script(src="/javascripts/templates.js")
    script(src="/javascripts/application.js")
    script(src="//d3js.org/d3.v3.min.js", charset="utf-8")
    script(src="/javascripts/d3-fxns.js")
    block scripts