.col-md-12
  span.filter-actions
    button#reset-filter.btn.btn-embossed.btn-default Reset
    button#update-filter.btn.btn-embossed.btn-primary Update

  span#filter-button.glyphicon.glyphicon-filter

  strong.query-label #{label}
  span.query-value #{value}


