*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-md-2 {
  line-height: 45px;
}
#body-content {
  padding: 110px 50px 150px 50px;
  background-color: #e1f1ec;
  color: #245259;
}
.splash {
  text-align: center;
  margin: auto;
  padding: 150px;
  font-size: 125px;
  font-weight: bold;
}
.splash .forelem {
  color: #ec5659;
  font-size: 40px;
  margin: auto 25px;
  font-style: italic;
}
.splash-desc {
  text-align: center;
  font-style: italic;
  margin: auto;
  font-size: 36px;
}
.tile {
  height: auto;
  width: 300px;
  background: rgba(36,82,89,0.4);
}
.navbar {
  background-color: rgba(235,69,73,0.9);
}
.navbar .nav-pills {
  vertical-align: middle;
}
.navbar .fui-mail {
  max-height: 32px;
  font-size: 26px;
  line-height: 1.5;
}
.navbar .navbar-brand {
  height: 100%;
  font-size: 30px;
}
.navbar i.fa {
  padding: 0 5px;
}
.forelem {
  font-size: 14px;
  margin: auto 5px;
}
.nav>li {
  padding-top: 5px;
}
.nav>li>a {
  padding-top: 5px;
  height: 100%;
  color: #e1f1ec;
  line-height: 1.5;
  font-size: 20px;
}
.nav>li>a:hover,
.nav>li:hover {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #e1f1ec;
  color: rgba(235,69,73,0.8);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e1f1ec;
}
.footer-divider {
  width: 100%;
  height: 12px;
  background: url("../images/footer_pattern.png") repeat-x;
}
.footer-content {
  height: auto;
  background-color: rgba(235,69,73,0.9);
  padding: 10px;
  padding-bottom: 20px;
}
.search-tools {
  margin: 30px auto;
  background-color: #245259;
  padding: 65px 125px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(235,69,73,0.4);
  box-shadow: 5px 5px 3px 0px rgba(235,69,73,0.4);
}
.dropdown-toggle {
  color: #fff;
  background-color: rgba(235,69,73,0.4);
  margin-bottom: -15px;
  width: 90%;
}
.dropdown-toggle .caret {
  margin-left: 20px;
}
.open > .dropdown-menu {
  margin-top: 3px;
  left: auto;
  width: 85%;
  text-align: center;
}
.open > .dropdown-arrow {
  display: none;
}
.input-group.focus .input-group-btn .btn {
  background-color: #fff;
  border-color: #eb4549;
  color: #eb4549;
}
.form-control:focus {
  border-color: #eb4549;
}
.or-elem {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}
.or-elem p {
  font-size: 28px;
  color: #e1f1ec;
  height: 42px;
  line-height: 42px;
}
#query-menu {
  text-align: center;
  margin-bottom: 25px;
  vertical-align: middle;
}
.result-item {
  cursor: pointer;
  background-color: #e1f1ec;
  padding: 20px 25px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 18px 2px rgba(127,140,141,0.75);
  box-shadow: 0px 0px 18px 2px rgba(127,140,141,0.75);
}
.result-item .row {
  text-align: center;
}
.result-item .badge {
  background-color: rgba(235,69,73,0.7);
  color: #fff;
}
.result-item .list-group-item:first-letter {
  text-transform: uppercase;
}
.result-item .list-group-item {
  color: #245259;
  text-transform: capitalize;
  text-align: left;
}
.result-item .list-group-item:first-child {
  font-size: 22px;
  font-weight: bold;
}
.percentRaised {
  margin-top: -24px;
  font-size: 60px;
  line-height: auto;
  font-weight: bold;
  display: inline-block;
  margin: auto auto;
}
.percentRaisedLabel {
  padding: 5px;
  font-style: italics;
  font-size: 17px;
  display: inline-block;
  margin: auto 5px;
}
.funding-label {
  text-align: left;
}
.funding-status {
  margin-left: 4%;
}
.school-search-pic img {
  border: 4px solid #9dccbc;
  width: 90%;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
#filter-button {
  width: 20px;
  margin: 0px 20px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  cursor: pointer;
  font-size: 20px;
  color: #245259;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
#filter-button.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #245259;
}
#filter-button:hover {
  -webkit-transform: scale(1.7, 1.7);
  -moz-transform: scale(1.7, 1.7);
  -o-transform: scale(1.7, 1.7);
  -ms-transform: scale(1.7, 1.7);
  transform: scale(1.7, 1.7);
  color: #245259;
}
.filter-actions,
.switch {
  display: inline-block;
}
#filter-switch {
  vertical-align: middle;
}
.has-switch span.switch-left {
  background-color: #245259;
  color: #9dccbc;
}
.has-switch > div.switch-on label {
  background-color: #9dccbc;
}
#search-filters {
  display: none;
  margin-bottom: 25px;
}
.filter-item {
  text-align: center;
  vertical-align: middle;
}
.slider-stat {
  margin-bottom: 0px;
}
.ui-slider-handle {
  top: -1px;
  height: 18px;
}
.ui-slider-handle {
  background-color: #eb4549;
}
.ui-slider-range {
  background-color: rgba(235,69,73,0.7);
}
.ui-slider-handle:hover {
  background-color: #ffe619;
}
.ui-slider-handle:focus {
  background-color: #ffe619;
}
.filter-label-name {
  font-size: 12px;
  text-transform: uppercase;
  color: #245259;
}
.filter-label .label-value {
  font-size: 14px;
  margin: auto 3px;
  height: auto;
  line-height: 1;
  display: inline;
  padding: 3px 0px 3px 6px;
  width: auto;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background: none;
  color: #245259;
}
.filter-label .form-control.flat:hover,
.filter-label .hovered {
  border-color: #ffe619;
  background-color: #ffe619;
  color: #245259;
}
.filter-label .theto {
  font-size: 10px;
  color: #245259;
  text-transform: uppercase;
  line-height: 10px;
}
.query-value {
  margin: auto 10px;
  color: #e74c3c;
}
#query-menu {
  margin-top: 20px;
}
.filter-actions {
  text-align: center;
  display: none;
}
.filter-actions button {
  margin: auto 10px;
}
.tooltip-inner {
  font-size: 10px;
  padding: 5px 8px;
  width: auto;
}
#pagination {
  display: inline-block;
  text-align: center;
  position: fixed;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 150px 75px;
  -moz-transform-origin: 150px 75px;
  -o-transform-origin: 150px 75px;
  -ms-transform-origin: 150px 75px;
  transform-origin: 150px 75px;
}
#pagination i,
#pagination span,
#pagination input {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.pager {
  line-height: 1;
  margin-bottom: 0px;
  background-color: rgba(52,73,94,0.7);
}
.pager li {
  margin-top: 2px;
}
.pager li div {
  height: 41px;
}
.pager li input,
.pager li span,
.pager li div {
  color: #fff;
  margin: auto 5px;
  display: inline-block;
  padding: 3px 0px 3px 0px;
  width: auto;
  height: auto;
  background: none;
  text-align: center;
}
.pager li .form-control.flat:hover,
.pager li .hovered {
  border-color: #1abc9c;
  color: #1abc9c;
}
.pager li.pages {
  display: inline-block;
  overflow: hidden;
}
.pager:hover {
  background-color: rgba(52,73,94,0.9);
}
.pager:hover input,
.pager:hover span,
.pager:hover div,
.pager:hover a {
  color: #fff;
}
.jumbotron {
  background-color: #245259;
  padding-top: 70px;
  margin: -57px -50px 30px -50px;
}
.jumbotron .result-item {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: auto;
}
#stat-profile {
  margin-top: 30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
}
#fundraising {
  background-color: rgba(235,69,73,0.85);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 40px 40px;
  margin-top: 30px;
  margin-bottom: 50px;
}
#fundraising .pager .pages input {
  width: 70px;
  height: 35px;
}
#fundraising .btn {
  display: inline-block;
  margin-top: -16px;
}
.progress {
  background-color: #9eafaf;
  margin-top: 3px;
  margin-bottom: 0px;
  height: 8px;
}
.progress .progress-bar {
  background-color: #399000;
}
.fundraising-stats {
  margin: 20px auto;
}
.search-funding {
  height: auto;
  margin-top: 10px;
  vertical-align: middle;
  overflow: visible;
}
.fundraising {
  margin-bottom: 0;
  height: 27px;
  background: url("/images/burger_50_bw.png") repeat-x;
}
.fundraising>.progress-bar {
  background: url("/images/burger_100.png") repeat-x;
}
.arc path:hover {
  stroke: #fff;
}
#contact-form .btn {
  float: left;
}
#contact-form .form-control:hover {
  border-color: #245259;
}
#contact-form .form-control {
  display: block;
  width: 90%;
}
#contact-form .form-group {
  text-align: center;
}
#contact-form .form-top {
  margin: 10px auto;
  margin-top: 55px;
}
#contact-form .form-bottom {
  margin: 10px auto;
}
#contact-form .form-bottom textarea.form-control {
  width: 97%;
  height: 85px;
  text-align: left;
}
