*, *:after, *:before
  box-sizing border-box

.col-md-2
  line-height 45px

#body-content
  padding 110px 50px 150px 50px
  // padding-bottom 75px
  background-color  #E1F1EC
  // height 1200px
  color #245259

.splash
  text-align center
  margin auto
  padding 100px
  font-size 72px
  font-weight bold
  .forelem
    color #EC5659
    font-size 35px
    margin auto 25px
    font-style italic

.splash-desc
  text-align center
  font-style italic
  margin auto
  font-size 24px

#contact-form
  margin-top 15px
  text-align center
  p
    font-size 20px
  img
    width 75px

.navbar
  background-color rgba(235, 69, 73, .9)
  .nav-pills
    vertical-align middle
  .fui-mail
    max-height 32px
    font-size 26px
    line-height 1.5
  .navbar-brand
    height 100%
    font-size 30px
  i.fa
    padding 0 5px

.forelem
  font-size 14px
  margin auto 5px

.nav>li
  padding-top 5px
.nav>li>a
  padding-top 5px
  height 100%
  color #E1F1EC
  line-height 1.5
  font-size 20px

.nav>li>a:hover, .nav>li:hover
  // background-color #E1F1EC
  // opacity 1
  // box-shadow   inset 0px 0px 5px 3px rgba(79, 128, 135, .75)
  border-radius 0px
  background-color #E1F1EC
  color rgba(235, 69, 73, .8)

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
  color #E1F1EC

.footer-divider
  width 100%
  height 12px
  background url("../images/footer_pattern.png") repeat-x

.footer-content
  height auto
  background-color rgba(235, 69, 73, .9)
  padding 10px
  padding-bottom 20px

.search-tools
  margin 30px auto
  background-color #245259 
  padding 65px 125px
  border-radius 15px
  // border 3px solid #E1F1EC 
  box-shadow  5px 5px 3px 0px rgba(235, 69, 73, .4)

.dropdown-toggle
  color #FFF
  background-color rgba(235, 69, 73, .4)
  margin-bottom -15px
  width 90%
  .caret
    margin-left 20px
    // float right

.open >
  .dropdown-menu
    margin-top 3px
    left auto
    width 85%
    text-align center
    a
      cursor pointer
  .dropdown-arrow
    display none

.input-group.focus .input-group-btn .btn
  background-color #FFF
  border-color rgb(235, 69, 73)
  color rgb(235, 69, 73)

.form-control:focus
  border-color rgb(235, 69, 73)


.or-elem
  vertical-align middle
  text-align center
  font-weight bold
  p
    font-size 28px
    color #E1F1EC
    height 42px
    line-height 42px

#query-menu
  text-align center
  margin-bottom 25px
  vertical-align middle

.result-item
  cursor pointer
  background-color #E1F1EC
  padding 20px 25px
  border-radius 10px
  margin-top 40px
  margin-bottom 40px
  box-shadow 0px 0px 18px 2px rgba(127, 140, 141, .75)
  .row
    text-align center
  .badge
    background-color rgba(235, 69, 73, .7)
    color #FFF

  .list-group-item:first-letter
    text-transform uppercase
  .list-group-item
    color #245259
    text-transform capitalize
    text-align left
  .list-group-item:first-child
    font-size 22px
    font-weight bold

.percentRaised
  margin-top -24px
  font-size 60px
  line-height auto
  font-weight bold
  display inline-block
  margin auto auto
  
.percentRaisedLabel
  padding 5px
  font-style italics
  font-size 17px
  display inline-block
  margin auto 5px

.funding-label
  text-align left

.funding-status
  margin-left 4%

.school-search-pic img
  border 4px solid #9dccbc
  width 90%
  margin-bottom 10px
  border-radius 10px

.vcenter
  display inline-block
  vertical-align middle
  float none

#filter-button
  width 20px
  margin 0px 20px
  opacity .5
  cursor pointer
  font-size 20px
  color #245259
  transition .6s

#filter-button.active
  opacity 1
  color #245259

#filter-button:hover
  transform scale(1.7,1.7)
  color #245259

.filter-actions, .switch
  display inline-block

#filter-switch
  vertical-align middle

.has-switch span.switch-left
  background-color #245259
  color #9DCCBC

.has-switch > div.switch-on label
  background-color #9DCCBC

#search-filters
  display none
  margin-bottom 25px

.filter-item
  text-align center
  vertical-align middle

.slider-stat
  margin-bottom 0px

.ui-slider-handle
  top -1px
  height 18px

.ui-slider-handle
  background-color rgba(235, 69, 73, 1)

.ui-slider-range
  background-color rgba(235, 69, 73, .7)

.ui-slider-handle:hover
  background-color #FFE619

.ui-slider-handle:focus
  background-color #FFE619

.filter-label-name
  font-size 12px
  text-transform uppercase
  color #245259

.filter-label
  .label-value
    font-size 14px
    margin auto 3px
    height auto
    line-height 1
    display inline
    padding 3px 0px 3px 6px
    width auto
    opacity 1
    background none
    color #245259

  .form-control.flat:hover, .hovered
    border-color #FFE619
    background-color #FFE619
    color #245259

  .theto
    font-size 10px
    color #245259
    text-transform uppercase
    line-height 10px

.query-value
  margin auto 10px
  color rgb(231, 76, 60)

#query-menu
  margin-top 20px

.filter-actions
  text-align center
  display none
  button
    margin auto 10px

.tooltip-inner
  font-size 10px
  padding 5px 8px
  width auto

#pagination
  display inline-block
  text-align center
  position fixed
  // bottom 100px
  // right 0px
  // margin-top 70px
  // margin-bottom 25px
  transform rotate(-90deg)
  transform-origin 150px 75px
  i, span, input
    transform rotate(90deg)
    
    
.pager 
  line-height 1
  margin-bottom 0px
  background-color rgba(52, 73, 94, .7)
  // color rgba(255, 255, 255, .6)
  li
    margin-top 2px
    // color rgba(255, 255, 255, .6)
    div
      height 41px
    a
      // color rgba(255, 255, 255, .6)
    input, span, div
      color rgba(255, 255, 255, 1)
      margin auto 5px
      display inline-block
      padding 3px 0px 3px 0px
      width auto
      height auto
      background none
      text-align center
    .form-control.flat:hover, .hovered
      border-color #1ABC9C
      color #1ABC9C
  li.pages
    display inline-block
    overflow hidden

.pager:hover
  background-color rgba(52, 73, 94, .9)
  input, span, div, a
    color rgba(255, 255, 255, 1)
  

.jumbotron
  background-color #245259
  padding-top 70px
  margin -57px -50px 30px -50px
  .result-item
    border none
    box-shadow none
    margin auto


#stat-profile
  margin-top 30px
  // background-color rgba(72, 110, 147, .7)
  // border 5px solid rgb(72, 110, 147)
  border-radius 10px
  padding 25px
  text-align center


#fundraising
  background-color rgba(235, 69, 73, .85)
  border-radius 15px
  padding 40px 40px
  margin-top 30px
  margin-bottom 50px
  .pager
    .pages input
      width 70px
      height 35px
  .btn
    display inline-block

#donation
  .glyphicon-usd
    padding 5px
  .input-group-addon
    padding 0
    border none
  .input-group
    max-width 85%
  .form-control
    text-align center
    background-color rgba(255,255,255,0.8)
  .form-control:focus
    border-color rgb(46, 204, 113)
  .input-group.focus
    .input-group-addon
      background-color rgb(46, 204, 113)
      border-color rgb(46, 204, 113)

.progress
  background-color #9eafaf
  margin-top 3px
  margin-bottom 0px
  height 8px
  .progress-bar
    background-color #399000

.fundraising-stats
  margin 20px auto

.search-funding
  height auto
  margin-top 10px
  vertical-align middle
  overflow visible

.fundraising
  margin-bottom 0
  height 27px
  background url("/images/burger_50_bw.png") repeat-x
.fundraising>.progress-bar
    background url("/images/burger_100.png") repeat-x

.arc path:hover
  stroke #FFF

#contact-form 
  .btn 
    float left
  .form-control:hover
    border-color #245259
  .form-control
    display block
    width 90%
  .form-group
    text-align center

  .form-top
    margin 10px auto
    margin-top 55px

  .form-bottom
    margin 10px auto
    textarea.form-control
      width 97%
      height 85px
      text-align left






  
